<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      channel list
    </ion-title>
  </ion-toolbar>
</ion-header>
​
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">channel list</ion-title>
    </ion-toolbar>
  </ion-header> 
​
<!--
  <ion-row *ngFor="let channel of channels" >
    <ion-col>
      <ion-item  lines="none" (click)="gotnextpage(channel.name)" >
     <ion-thumbnail slot="start">
        <img src='/assets/slack.png'>
      </ion-thumbnail>
      
      <ion-label>
        <h3>{{ channel.id | uppercase }}</h3>
        <p>{{ channel.name}}</p>
          
      </ion-label>
    </ion-item>
  </ion-col>
<ion-item>
    <ion-col>
      <ion-button (click)='gotnextpage(channel.name)' expand="block" >go to my channel page</ion-button>
​
    </ion-col>
  </ion-item>
  </ion-row>
-->

  <ion-row *ngFor="let member of channels" >
    <ion-col>
        <img src='assets/slack.png'>
    </ion-col>
    <ion-col>
      <ion-item>
        <h3>{{ member.id}}</h3>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <h3>{{ member.name}}</h3>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-button (click)='gotnextpage(member.id)' expand="block" >go to my channel page</ion-button>
      </ion-item>
      
​
    </ion-col>
​
  </ion-row>
  

 
</ion-content>