.logo-image {
    display: flex;
    /*width: 120px;*/
    max-height: 130px;
    margin: 0 auto;
    text-align: center;
  }
  ion-content {
    --background: #93f87e;
  }
  [transparent] {
    --background: transparent;
  }
.divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
}
  
.line {
    align-items: center;
    margin: 2em -2em;
    color: #030303;
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 2em;
    }
} 

.one-line {
    &:before,
    &:after {
       background: rgba(247, 4, 4, 0.667);
    }
}

.auth-form ion-grid,
.auth-form ion-row {
    height: 100%;
    justify-content: center;
}

.already {
    display: block;
    text-align: center;
    padding-bottom: 10px;
}
