<ion-header class="ion-no-border">
  
    <img class="logo-image" src="../../assets/slack1.svg">
  
</ion-header>

<ion-content>
  <div class="center">
    
      <h1 big-heading>Login</h1>
      
    
    <ion-label>
      
    </ion-label>
    <ion-item transparent>
      <img icon-small src="../../assets/logo.svg" />
      <ion-input [(ngModel)]="Email" placeholder="Username" type="text"></ion-input>
    </ion-item>
    <ion-item transparent>
      <img icon-small src="../../assets/logo.svg" />
      <ion-input [(ngModel)]="Password" placeholder="Password" type="Password"></ion-input>
    </ion-item>
    
    <ion-button [routerLink]="['/forgotpassword']" class="small-text">Forgot Password?</ion-button>
  
  <ion-button [routerLink]="['/channel']" color="danger" expand="block">Sign In</ion-button>
  
</div>
</ion-content>